extends layout

block content
  h1= title
   var results = [{"name":"appolofish", "breed":"koi","Age":2},{"name":"goldfish", "breed":"fantail","Age":3},{"name":"tuna", "breed":"oranda","Age":6}]
  div(class="container-fuild")
    div(class="row")
      each result,index in results
        div(class = "col-sm-2" id=index onclick=`buy(${index})`)
          p #{result.name}
          p #{result.breed}
          p #{result.Age}
  script.
   function buy(element){
     alert(`You purchased item ${element+1}.`)
    }